<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ggshop.dao.GsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.qf.ggshop.pojo.po.GsOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="INTEGER" />
    <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="shopping_name" property="shoppingName" jdbcType="VARCHAR" />
    <result column="shoping_code" property="shopingCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="buyer_rate" property="buyerRate" jdbcType="INTEGER" />
    <result column="sbst1" property="sbst1" jdbcType="VARCHAR" />
    <result column="sbst2" property="sbst2" jdbcType="VARCHAR" />
    <result column="sbst3" property="sbst3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, payment, payment_type, post_fee, status, gmt_create, gmt_modified, payment_time, 
    consign_time, end_time, close_time, shopping_name, shoping_code, user_id, buyer_message, 
    buyer_nick, buyer_rate, sbst1, sbst2, sbst3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.ggshop.pojo.po.GsOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gs_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gs_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.ggshop.pojo.po.GsOrderExample" >
    delete from gs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.ggshop.pojo.po.GsOrder" >
    insert into gs_order (order_id, payment, payment_type, 
      post_fee, status, gmt_create, 
      gmt_modified, payment_time, consign_time, 
      end_time, close_time, shopping_name, 
      shoping_code, user_id, buyer_message, 
      buyer_nick, buyer_rate, sbst1, 
      sbst2, sbst3)
    values (#{orderId,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER}, 
      #{postFee,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, #{consignTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{shoppingName,jdbcType=VARCHAR}, 
      #{shopingCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{buyerMessage,jdbcType=VARCHAR}, 
      #{buyerNick,jdbcType=VARCHAR}, #{buyerRate,jdbcType=INTEGER}, #{sbst1,jdbcType=VARCHAR}, 
      #{sbst2,jdbcType=VARCHAR}, #{sbst3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.ggshop.pojo.po.GsOrder" >
    insert into gs_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="shoppingName != null" >
        shopping_name,
      </if>
      <if test="shopingCode != null" >
        shoping_code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="buyerNick != null" >
        buyer_nick,
      </if>
      <if test="buyerRate != null" >
        buyer_rate,
      </if>
      <if test="sbst1 != null" >
        sbst1,
      </if>
      <if test="sbst2 != null" >
        sbst2,
      </if>
      <if test="sbst3 != null" >
        sbst3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shoppingName != null" >
        #{shoppingName,jdbcType=VARCHAR},
      </if>
      <if test="shopingCode != null" >
        #{shopingCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        #{buyerRate,jdbcType=INTEGER},
      </if>
      <if test="sbst1 != null" >
        #{sbst1,jdbcType=VARCHAR},
      </if>
      <if test="sbst2 != null" >
        #{sbst2,jdbcType=VARCHAR},
      </if>
      <if test="sbst3 != null" >
        #{sbst3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.ggshop.pojo.po.GsOrderExample" resultType="java.lang.Integer" >
    select count(*) from gs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gs_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=INTEGER},
      </if>
      <if test="record.postFee != null" >
        post_fee = #{record.postFee,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymentTime != null" >
        payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.consignTime != null" >
        consign_time = #{record.consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.closeTime != null" >
        close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shoppingName != null" >
        shopping_name = #{record.shoppingName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopingCode != null" >
        shoping_code = #{record.shopingCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.buyerMessage != null" >
        buyer_message = #{record.buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerNick != null" >
        buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerRate != null" >
        buyer_rate = #{record.buyerRate,jdbcType=INTEGER},
      </if>
      <if test="record.sbst1 != null" >
        sbst1 = #{record.sbst1,jdbcType=VARCHAR},
      </if>
      <if test="record.sbst2 != null" >
        sbst2 = #{record.sbst2,jdbcType=VARCHAR},
      </if>
      <if test="record.sbst3 != null" >
        sbst3 = #{record.sbst3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gs_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      payment = #{record.payment,jdbcType=VARCHAR},
      payment_type = #{record.paymentType,jdbcType=INTEGER},
      post_fee = #{record.postFee,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{record.consignTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      shopping_name = #{record.shoppingName,jdbcType=VARCHAR},
      shoping_code = #{record.shopingCode,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      buyer_message = #{record.buyerMessage,jdbcType=VARCHAR},
      buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
      buyer_rate = #{record.buyerRate,jdbcType=INTEGER},
      sbst1 = #{record.sbst1,jdbcType=VARCHAR},
      sbst2 = #{record.sbst2,jdbcType=VARCHAR},
      sbst3 = #{record.sbst3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.ggshop.pojo.po.GsOrder" >
    update gs_order
    <set >
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shoppingName != null" >
        shopping_name = #{shoppingName,jdbcType=VARCHAR},
      </if>
      <if test="shopingCode != null" >
        shoping_code = #{shopingCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        buyer_rate = #{buyerRate,jdbcType=INTEGER},
      </if>
      <if test="sbst1 != null" >
        sbst1 = #{sbst1,jdbcType=VARCHAR},
      </if>
      <if test="sbst2 != null" >
        sbst2 = #{sbst2,jdbcType=VARCHAR},
      </if>
      <if test="sbst3 != null" >
        sbst3 = #{sbst3,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.ggshop.pojo.po.GsOrder" >
    update gs_order
    set payment = #{payment,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=INTEGER},
      post_fee = #{postFee,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      shopping_name = #{shoppingName,jdbcType=VARCHAR},
      shoping_code = #{shopingCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      buyer_rate = #{buyerRate,jdbcType=INTEGER},
      sbst1 = #{sbst1,jdbcType=VARCHAR},
      sbst2 = #{sbst2,jdbcType=VARCHAR},
      sbst3 = #{sbst3,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>