<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ggshop.dao.GsOrderShoppingMapper" >
  <resultMap id="BaseResultMap" type="com.qf.ggshop.pojo.po.GsOrderShopping" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_prvc" property="receiverPrvc" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_detail" property="receiverDetail" jdbcType="VARCHAR" />
    <result column="receiver_code" property="receiverCode" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="sbst1" property="sbst1" jdbcType="VARCHAR" />
    <result column="sbst2" property="sbst2" jdbcType="VARCHAR" />
    <result column="sbst3" property="sbst3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, receiver_name, receiver_tel, receiver_mobile, receiver_prvc, receiver_city, 
    receiver_district, receiver_detail, receiver_code, gmt_create, gmt_modified, sbst1, 
    sbst2, sbst3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.ggshop.pojo.po.GsOrderShoppingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gs_order_shopping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gs_order_shopping
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gs_order_shopping
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.ggshop.pojo.po.GsOrderShoppingExample" >
    delete from gs_order_shopping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.ggshop.pojo.po.GsOrderShopping" >
    insert into gs_order_shopping (order_id, receiver_name, receiver_tel, 
      receiver_mobile, receiver_prvc, receiver_city, 
      receiver_district, receiver_detail, receiver_code, 
      gmt_create, gmt_modified, sbst1, 
      sbst2, sbst3)
    values (#{orderId,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{receiverMobile,jdbcType=VARCHAR}, #{receiverPrvc,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, 
      #{receiverDistrict,jdbcType=VARCHAR}, #{receiverDetail,jdbcType=VARCHAR}, #{receiverCode,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{sbst1,jdbcType=VARCHAR}, 
      #{sbst2,jdbcType=VARCHAR}, #{sbst3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.ggshop.pojo.po.GsOrderShopping" >
    insert into gs_order_shopping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverTel != null" >
        receiver_tel,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverPrvc != null" >
        receiver_prvc,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="receiverDetail != null" >
        receiver_detail,
      </if>
      <if test="receiverCode != null" >
        receiver_code,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="sbst1 != null" >
        sbst1,
      </if>
      <if test="sbst2 != null" >
        sbst2,
      </if>
      <if test="sbst3 != null" >
        sbst3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPrvc != null" >
        #{receiverPrvc,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverDetail != null" >
        #{receiverDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverCode != null" >
        #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sbst1 != null" >
        #{sbst1,jdbcType=VARCHAR},
      </if>
      <if test="sbst2 != null" >
        #{sbst2,jdbcType=VARCHAR},
      </if>
      <if test="sbst3 != null" >
        #{sbst3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.ggshop.pojo.po.GsOrderShoppingExample" resultType="java.lang.Integer" >
    select count(*) from gs_order_shopping
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gs_order_shopping
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverName != null" >
        receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverTel != null" >
        receiver_tel = #{record.receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverMobile != null" >
        receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverPrvc != null" >
        receiver_prvc = #{record.receiverPrvc,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCity != null" >
        receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverDistrict != null" >
        receiver_district = #{record.receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverDetail != null" >
        receiver_detail = #{record.receiverDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCode != null" >
        receiver_code = #{record.receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sbst1 != null" >
        sbst1 = #{record.sbst1,jdbcType=VARCHAR},
      </if>
      <if test="record.sbst2 != null" >
        sbst2 = #{record.sbst2,jdbcType=VARCHAR},
      </if>
      <if test="record.sbst3 != null" >
        sbst3 = #{record.sbst3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gs_order_shopping
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      receiver_tel = #{record.receiverTel,jdbcType=VARCHAR},
      receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      receiver_prvc = #{record.receiverPrvc,jdbcType=VARCHAR},
      receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      receiver_district = #{record.receiverDistrict,jdbcType=VARCHAR},
      receiver_detail = #{record.receiverDetail,jdbcType=VARCHAR},
      receiver_code = #{record.receiverCode,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      sbst1 = #{record.sbst1,jdbcType=VARCHAR},
      sbst2 = #{record.sbst2,jdbcType=VARCHAR},
      sbst3 = #{record.sbst3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.ggshop.pojo.po.GsOrderShopping" >
    update gs_order_shopping
    <set >
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPrvc != null" >
        receiver_prvc = #{receiverPrvc,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverDetail != null" >
        receiver_detail = #{receiverDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverCode != null" >
        receiver_code = #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sbst1 != null" >
        sbst1 = #{sbst1,jdbcType=VARCHAR},
      </if>
      <if test="sbst2 != null" >
        sbst2 = #{sbst2,jdbcType=VARCHAR},
      </if>
      <if test="sbst3 != null" >
        sbst3 = #{sbst3,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.ggshop.pojo.po.GsOrderShopping" >
    update gs_order_shopping
    set receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_prvc = #{receiverPrvc,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_detail = #{receiverDetail,jdbcType=VARCHAR},
      receiver_code = #{receiverCode,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      sbst1 = #{sbst1,jdbcType=VARCHAR},
      sbst2 = #{sbst2,jdbcType=VARCHAR},
      sbst3 = #{sbst3,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>