<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ggshop.dao.ItemCommentMapper" >
    <sql id="Base_Column_List" >
      id, item_id, comment_user, c_content, rep_content, comment_time, rep_time, sbst1,
      sbst2, sbst3
    </sql>


    <select id="countComments" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(1)
        from comment
        WHERE item_id = #{itemId}
    </select>

    <select id="listCommentsByPage" resultType="com.qf.ggshop.pojo.po.Comment">
        SELECT
        <include refid="Base_Column_List"/>
        from comment
        WHERE item_id = #{itemId}
        ORDER BY comment_time DESC
        LIMIT #{page.offset},#{page.rows}

    </select>

</mapper>