<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.ggshop.dao.ItemParamCustomMapper" >
    <sql id="Base_Column_List">
        p.id, p.item_cat_id, p.gmt_create, p.gmt_modified, c.name as itemCatName
    </sql>
    <sql id="Blob_Column_List">
        p.param_data as paramData
    </sql>
    <!--数据总量-->
    <select id="countItemParams" resultType="_int">
        select count(1)
        from item_param p
    </select>
    <!--查询每页的数据-->
    <select id="listItemParamsByPage" resultType="com.qf.ggshop.pojo.vo.ItemParamCustom">
        select
        <!--去重操作-->
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from item_param p left join item_cat c on p.item_cat_id=c.id
        limit #{page.offset},#{page.rows}
    </select>
</mapper>